.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;

    &__container {
        text-align: center;
    }

    &__body {
        padding: 1.5em 1em;
        border-radius: .5em;
        box-shadow:
            0 4.5px 3.6px rgba(0, 0, 0, 0.024),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 30.1px 24.1px rgba(0, 0, 0, 0.046),
            0 100px 80px rgba(0, 0, 0, 0.07);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__field {
        display: flex;
        flex-direction: column;
        justify-content: center;    
    }

    &__highlight {
        font-size: 2rem;
    }
}