<section class="section" *ngIf="rates">
    <div class="section__container">
        <h2>We do the math for you!</h2>
        <div>
            <label for="amount">Amount</label>
            <input id="amount" type="number" placeholder="0.00" [(ngModel)]="amount" />
        </div>
        <div>
            <label for="from">From</label>
            <select id="from" [(ngModel)]="from" (change)="loadRates()">
                <option *ngFor="let currency of getAllCurrencies()" [value]="currency">{{ currency }}</option>
            </select>
        </div>
        <div>
            <label for="to">To</label>
            <select id="TO" [(ngModel)]="to">
                <option *ngFor="let currency of getAllCurrencies()" [value]="currency">{{ currency }}</option>
            </select>
        </div>

        <div>Exchange rate: {{ rates[to].toFixed(2) }}</div> 
        <div>{{ getConvertion().toFixed(2) }}</div>
    </div>
</section>

